@page
@model Belts.Pages.BaileyBeltModel
@{
    ViewData["Title"] = "Bailey Belts";
}
<style>
    th {
        padding: 10px;
    }
</style>
<div>
    <h3>Bailey Belts</h3>
    <h5>@DateTime.Now</h5>
</div>

<div>
    <table class="table-bordered">
        <tr>
            <th>Belt</th>
            <th>Type</th>
            <th>State</th>
            <th>Time On</th>
            <th>Time Off</th>
            <th>?</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>9L</td>
            <td style="text-align:center">CM</td>
            <td style="text-align:center">OFF</td>
            <td style="text-align:center">0:00</td>
            <td style="text-align:center">16:35</td>
            <td style="text-align:center">0:00</td>
            <td style="text-align:center">On</td>
            <td style="text-align:center">Off</td>
        </tr>
        <tr>
            <td>9L</td>
            <td style="text-align:center">CM</td>
            <td style="text-align:center">OFF</td>
            <td style="text-align:center">0:00</td>
            <td style="text-align:center">16:35</td>
            <td style="text-align:center">0:00</td>
            <td style="text-align:center">On</td>
            <td style="text-align:center">Off</td>
        </tr>
        <tr>
            <td>9L</td>
            <td style="text-align:center">CM</td>
            <td style="text-align:center">OFF</td>
            <td style="text-align:center">0:00</td>
            <td style="text-align:center">16:35</td>
            <td style="text-align:center">0:00</td>
            <td style="text-align:center">On</td>
            <td style="text-align:center">Off</td>
        </tr>
        <tr>
            <td>9L</td>
            <td style="text-align:center">CM</td>
            <td style="text-align:center">OFF</td>
            <td style="text-align:center">0:00</td>
            <td style="text-align:center">16:35</td>
            <td style="text-align:center">0:00</td>
            <td style="text-align:center">On</td>
            <td style="text-align:center">Off</td>
        </tr>
    </table>
</div>